Port {{ ssh.service.port | default(22222) }}
AllowGroups {{ ssh.service.group | default('ssh-users') }}
PasswordAuthentication no
KbdInteractiveAuthentication no
PermitRootLogin no
PubkeyAuthentication yes
