Port {{ ssh.service.port | default(('2' ~ user.uid) | int) }}
AllowGroups {{ ssh.service.group | default('ssh-users') }}
PasswordAuthentication no
KbdInteractiveAuthentication no
PermitRootLogin no
PubkeyAuthentication yes
