[Unit]
Description=Synchronize RKE2 kubeconfig to the Windows host
After=rke2-server.service
Requires=rke2-server.service

[Service]
Type=oneshot
ExecStartPre=/usr/bin/install -d -m 0700 "{{ rke2_host_kubeconfig_path | dirname }}"
ExecStart=/usr/bin/install -m 0644 /etc/rancher/rke2/rke2.yaml "{{ rke2_host_kubeconfig_path }}"

[Install]
WantedBy=multi-user.target
