[Unit]
Description=Watch RKE2 kubeconfig for host synchronization
After=rke2-server.service

[Path]
PathChanged=/etc/rancher/rke2/rke2.yaml
Unit=rke2-kubeconfig-sync.service

[Install]
WantedBy=multi-user.target
