[Unit]
Description=Set / to shared mount propagation
DefaultDependencies=no
After=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/mount --make-rshared /

[Install]
WantedBy=multi-user.target
